img {
  height: 75px;
}

.sticky{
  width: 23% !important;
  border: 1px solid #006555 !important;
  color: #006555;
  height: 755px !important;
}

.homePage {
  background-image: url('https://lh3.googleusercontent.com/proxy/HPQ03_pbU84q1RtHQN2PgJQ5D5cYRmjiJqX6o3s8Nb2eakwlaiHkB74_OHfTaL_HqNlPD4DT5yv8BLpUHkluduSno576LP0PxXsNKI_DjU_lSKvhYj0QSlzjw0g');
  
  background-attachment: fixed;
  background-size: cover;
  height: 100vh
}
.navbar {
  background: #006555;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  padding: 30px;
  align-items: center;
  font-size: 18px;
}

.navbar-container {
  display: flex;
}

.nav-menu-items {
  display: flex;
  color: #fff;
  align-items: center;
}

.nav-icons {
  display: flex;
  color: #fff;
  align-items: flex-end;
}

a {
  color: #fff;
}

.hero-container {
  background: #006555;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  align-items: center;
}

.hero-img {
  width: 80%;

}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.shopDiv{
  padding:5px;
  width:40%;
  height:325px;
  border:1px solid lightgrey;
  border-radius: 25px;
  margin:5px;
  float:left;
  transition:0.3s;
}

.shopDiv:hover{
  background-color:rgb(250, 250, 255);
  border:1px solid grey;
  box-shadow: 1px 1px 5px #aaaaaa;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  background-color: rgb(250, 250, 255);
  height:700px;
  width:500px;
  width:20%;
  float:right;
  padding: 20px;
  border:1px solid rgb(29, 161 ,242);
  border-radius: 10px;
}